# Configuraciones de desarrollo
DOTENV_CONFIG_QUIET=true
VITE_PORT=8080
VITE_HOST_URL=https://....banrural.com.gt
VITE_HOST_PATH=/
VITE_APIGATEWAY_TOKEN=

# Configuraciones de despliegue
VITE_BASE_NAME=mf-override-template
VITE_CDN_URL=https://....banrural.com.gt/design-system
