{
  "transactionCode": "18200",
  "hostJsons": {
    "runtime": "/config/mf-config.json",
    "remotes": "/config/mf-hub-remotes.json"
  },
  "apiBaseUrl": "https://....banrural.com.gt",
  "apiRestPaths": {
    "verifyAccess": "/ws_cr_gestiones_admon/v1/verificar-acceso",
    "phoneNumber": "/ws_cr_claro_postpago/v1/consulta",
    "validAmount": "/ws_cr_gestiones_admon/v1/validar-monto",
    "paidData": "/ws_cr_claro_postpago/v1/pago",
    "detailTransaction": "/ws_reimprime_boletas_cr/v1/detalle_transacciones",
    "dateTimeData": "/api-time",
    "consultaTipoTarifario": "/api_cap_renap/Clta_TipoTarifario",
    "consultaTarifario": "/api_cap_renap/Clta_Tarifario",
    "consultaParametro": "/ws_cr_gen_parametro/v1/consulta_parametro?nemonico=NCR&tipo=T&producto=CR",
    "consultaComision": "/ws_cr_pago_comision/v1/consultaComision",
    "ingresoTransaccion": "/ws_cr_pago_renap/v1/ingreso_transaccion",
    "cobroSolicitud": "/ws_cr_pago_renap/v1/cobro_solicitud"
  }
}
